@import "tailwindcss";
@import "./theme.css";
@import "./fonts.css";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		cursor: none;
	}

	html::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	html {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	body {
		background: var(--color-background);
		overflow-x: hidden;
		transition: color 0.3s;
		font-weight: 100;
	}
}
