@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";

@layer base {
	html,
	body {
		background: var(--color-background);
		margin: 0;
		padding: 0;
		transition: background-color 0.3s ease;
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		cursor: none;
	}

	/* Hide scrollbar for all elements */
	*::-webkit-scrollbar {
		display: none;
	}

	* {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}

	body {
		overflow-x: hidden;
		font-weight: 100;
		font-family: var(--font-body);
	}

	a {
		text-decoration: none;
	}
}
