@layer components {
	/* H1 */
	.text-h1 {
		font-family: var(--font-body);
		font-style: normal;
		font-weight: normal;
		font-size: 100px;
		color: var(--color-text-standard);
		line-height: 0.9;
		letter-spacing: 0.03em;

		@media (max-width: 769px) {
			font-size: 60px;
		}

		@media (max-width: 480px) {
			font-size: 40px;
			line-height: 1.1;
		}

		&.serif {
			font-family: var(--font-heading);
		}
	}

	/* H2 */
	.text-h2 {
		font-family: var(--font-body);
		font-weight: normal;
		font-size: 5vw;
		line-height: 1;
		color: var(--color-text-standard);
		letter-spacing: 0;

		span.important_word {
			font-family: var(--font-body);
			color: var(--color-primary);
			font-size: 60px;
		}

		@media (max-width: 769px) {
			font-size: 12vw;
		}

		&.serif {
			font-family: var(--font-heading);
			font-weight: normal;
		}
	}

	/* H2.5 */
	.text-h2-5 {
		font-family: var(--font-body);
		font-weight: normal;
		font-size: 32px;
		line-height: 1.3;
		color: var(--color-text-standard);

		span.important_word {
			font-family: var(--font-body);
			color: var(--color-primary);
			font-size: 60px;
		}

		@media (max-width: 769px) {
			font-size: 30px;
		}

		@media (max-width: 480px) {
			font-size: 24px;
			line-height: 1.4;
		}
	}

	/* H3 */
	.text-h3 {
		font-family: var(--font-body);
		font-weight: normal;
		font-size: 30px;
		color: var(--color-text-standard);

		&.serif {
			font-family: var(--font-heading);
			font-weight: normal;
		}
	}

	/* H4 */
	.text-h4 {
		font-family: var(--font-body);
		font-weight: normal;
		color: var(--color-text-standard);
		font-size: 20px;
		line-height: 1.2;

		@media (max-width: 769px) {
			font-size: 16px;
		}
	}

	/* H5 */
	.text-h5 {
		font-family: var(--font-body);
		font-weight: normal;
		font-size: 12px;
		text-transform: uppercase;
		line-height: 1.2;
		color: var(--color-text-standard);
	}

	/* H6 */
	.text-h6 {
		font-family: var(--font-body);
		font-weight: normal;
		color: var(--color-text);
		font-size: 12px;
		line-height: 1.4;
	}

	/* Regular */
	.text-regular {
		color: var(--color-text);
		line-height: 1.4;
		font-size: 14px;
		opacity: 0.8;
		font-family: var(--font-body);
		font-weight: normal;
	}

	/* Small */
	.text-small {
		font-family: var(--font-body);
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
	}

	/* Button Text */
	.text-button {
		font-family: var(--font-body);
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		text-transform: uppercase;

		&.tags {
			padding: 8px 16px;
			border: solid 1px var(--color-text-disabled2);
			border-radius: 0px;
			font-size: 10px;
		}
	}

	/* Spawn Animation */
	.text-spawn-anim {
		display: inline-block;
		overflow: hidden;
	}

	/* Headline */
	.text-headline {
		text-transform: uppercase;
		font-size: 10px;
		font-family: var(--font-body);
		font-weight: normal;
		color: var(--color-text);
	}

	/* Description */
	.text-description {
		font-family: var(--font-body);
		font-weight: normal;
		color: var(--color-text);
		margin: 20px 0px;
		font-size: 12px;
		line-height: 110%;
		opacity: 1;

		@media (max-width: 600px) {
			margin: 24px 0px;
		}

		a {
			color: var(--color-text-standard);
		}
	}

	/* Centered */
	.text-centered {
		font-family: var(--font-display);
		font-size: 14px;
		text-align: center;
		line-height: 140%;
		font-weight: 400;
		align-self: center;
		width: 60%;
		color: var(--color-text);

		span {
			color: var(--color-primary);
		}

		@media (max-width: 1000px) {
			width: 100%;
			font-size: 18px;
		}

		@media (max-width: 700px) {
			width: 100%;
			font-size: 12px;
		}
	}

	/* Link */
	.text-link {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		color: var(--color-text);
		font-family: var(--font-body);
		font-weight: normal;
		transition: color 0.5s;

		&:hover {
			transition: color 0.5s;
			color: var(--color-text-standard);
		}
	}

	/* Mail */
	.mail {
		svg {
			margin-top: 3px;
			height: 12px;
			width: 20px;

			path,
			rect {
				stroke: gray;
			}
		}
	}

	/* Button Component */
	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		pointer-events: auto;
		border: solid 1px #96969640;
		font-family: var(--font-body);
		font-weight: normal;
		text-transform: uppercase;
		transition: background-color 0.3s;
		backdrop-filter: blur(6px);
		font-size: 10px;
		color: var(--color-text-standard);

		a {
			padding: 12px 24px;
			color: var(--color-text-standard);
			font-size: 10px;
		}

		&:hover {
			background-color: var(--color-text-disabled2);

			a {
				color: var(--color-text-standard);
			}
		}

		&.big {
			padding: 16px 32px;
			margin-top: 30px;
		}
	}

	/* Separator */
	.separator {
		margin: 4vh 0;
		width: 100%;
		height: 1px;
		transition: background-color 0.6s;
		background-color: var(--color-text-disabled2);
	}

	/* Parallax */
	.parallax {
		width: 100vw;
		height: 100vh;

		img {
			object-fit: cover;
			object-position: top;
			height: 100vh;
			width: 100vw;
		}
	}
}
