---
interface Props {
  id?: string;
}

const { id = "loader-line" } = Astro.props;
---

<div
  class="mt-0 h-0.5 bg-text-standard w-0 self-start transition-[width,background-color] duration-200 ease-in-out"
  id={id}
>
</div>
