---
import LoaderLine from "@atoms/LoaderLine.astro";
import LoaderText from "@atoms/LoaderText.astro";

interface Props {
  title?: string;
  percentageId?: string;
  lineId?: string;
}

const {
  title = "ALEX RICARDO",
  percentageId = "loader-percentage",
  lineId = "loader-line",
} = Astro.props;
---

<div
  class="absolute left-1/2 -translate-x-1/2 bottom-10 w-[90%] flex items-center flex-col flex-nowrap"
>
  <div class="w-full flex flex-row flex-nowrap items-center justify-between">
    <LoaderText text={title} class="font-heading" />
    <LoaderText text="00%" class="percentage" id={percentageId} />
  </div>
  <LoaderLine id={lineId} />
</div>
